body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background: rgba(212,228,239,1);
    background: -moz-linear-gradient(left, rgba(212,228,239,1) 0%, rgba(134,174,204,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(212,228,239,1)), color-stop(100%, rgba(134,174,204,1)));
    background: -webkit-linear-gradient(left, rgba(212,228,239,1) 0%, rgba(134,174,204,1) 100%);
    background: -o-linear-gradient(left, rgba(212,228,239,1) 0%, rgba(134,174,204,1) 100%);
    background: -ms-linear-gradient(left, rgba(212,228,239,1) 0%, rgba(134,174,204,1) 100%);
    background: linear-gradient(to right, rgba(212,228,239,1) 0%, rgba(134,174,204,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4e4ef', endColorstr='#86aecc', GradientType=1 );
    }

:root {
    --my-yellow: yellow;
    --my-dark-yellow: #81811d;

    --my-blue: blue;
    --my-dark-blue: darkblue;

    --my-agua: #00e2ff;
    --my-dark-agua: #007180;

    --my-red: red;
    --my-dark-red: darkred;

    --my-green: #00bd00;
    --my-dark-green: #015a01;
}

h1{
    text-shadow: 0 0 10px lightyellow;
}

.wrapper_cube {
    height: 400px;
    width: 400px;
    display: flex;
    /* flex wrap lo usamos para decirle a los hijos que si no caben a lo largo bajen y se acomodeb */
    flex-wrap: wrap;
    position: relative; 
    border-radius: 50%;
    /*overflow no deja salir a los hijos */
    overflow: auto; 
    box-shadow: 0 8px 0 black;
    border: 5px solid black;
}

.instructions{
    position: absolute;
    left: 0;
    top:25px;
    width: 200px;
    text-align: justify;  
    padding: 10px;
    border: 1px solid black;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    
}

.lvl_container{
    display: flex;
    justify-content: space-around;
    position: absolute;
    right: 0;
    top: 25px;
    width: 100px;
    padding: 10px;
    border: 1px solid black;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;  
}


.cube {
    box-sizing: border-box;
    height: 50%;
    width: 50%;
    cursor: pointer;
    transition: background-color 1s ease-out;
}

.cube:active {
    transition: background-color 0.2s ease-out;
}

.center_cube{
    border: 5px solid black;
    position: absolute;
    z-index: 200;
    right: 25%;
    top: 25%;
    border-radius: 50%;
    background: var(--my-dark-yellow);
    box-shadow: 0 3px 0 black;
}

/*.center_cube:active {
    background: var(--my-yellow);
}*/

.cube_1 {
    background: var(--my-dark-blue);
    border-right: 5px solid black;
    border-bottom: 5px solid black;
}

/*.cube_1:active {
    background: var(--my-blue);
}*/

.cube_2 {
    background: var(--my-dark-red);
    border-bottom: 5px solid black;
}

/*.cube_2:active {
    background: var(--my-red);
}*/

.cube_3 {
    background: var(--my-dark-green);
    border-right: 5px solid black;
}

/*.cube_3:active {
    background: var(--my-green);
}*/

.cube_4 {
    background: var(--my-dark-agua);
}

/*.cube_4:active {
    background: var(--my-agua);
}*/



.btn_start{
    margin-top: 20px;
    padding: 10px 40px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 800;
    font-family: OCR A Std, monospace;  
    background: transparent;
    cursor:pointer;
    border: 2px solid black;
    border-bottom: 4px solid black;
    color:black;
    outline: none;
    transition: background-color 1s ease-out;
}


.btn_start:hover{
    box-shadow: 0 0 100px white;
    border-color:white;
    color: white;
    border-bottom: 4px solid white;
    transition: all 0.3s ease-out;
}

.btn_start:active{
    margin-top: 25px;
}

@media only screen and (max-width: 807px) {
    .wrapper_cube {
        height: 300px;
        width: 300px;
        display: flex;
    }

    h1{
        margin: 0;
    }

    .instructions{
        position: relative;
        width: 100%;
        font-size: 20px;
        margin: 0;
        margin-bottom: 1px;
    }
    
    .lvl_container{
        position: relative;
        justify-content: center;
        width: 100%;
        font-size: 20px;
        margin-bottom: 50px;

    }
  }